<load target="css/stlye.css" />
<load target="css/videoplayer.css" />
<load target="css/player_widget.css" />

<div class="header_wrap">
    <div class="header">
        <div class="header_content">
            <div class="h_content">
              <h1>Our Best Content Manager</h1>
              <h2> Luis ENT</h2>
            </div>
        </div>
    </div>
</div>
<div class="header_menu">
    <div class="header_menu_icon"><i class="menu"></i></div>
</div>

<div class="content_service">
  <div class="service_wrap">
      <div class="service_content">
        <div class="add_video">
          <div class="video_player">
              <div class="player_zone">
                <img type="player_zone_service" z-index="999">
              </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="onboard_content">
    <h2>Recommaneded Content</h2>
      <div class="content_list">
          <li class="content_list_rc">
            [Loop->menu]
          </li>
      </div>
</div>

