<block cond="$oDocument_srl()->get_content">
	<block cond="$oDocument_srl()->get_title">			
    <div class="content_head_infomation" flex_id="content_head">
      <h2>{$oDocument_srl->getTitle}</h2>
      <h3>{$oDocument_srl->extra_varid(sub_title)}</h3>
    </div>
    <div class="content_main_video">
      <img src="blob:{$content_srl_context_img()}" class="main_video_content_img" flex_ind="video_thum" content_type="png/images"> 
      <video src="blob:{$content_srl_context()}" class="main_video_content" flex_id="video" content_type="mp4/video">
    </div>
    <div class="video_comment_layer">
      <div class="comment_layer_content">
          <div class="test_content_layer">
             Comment Test
        </div>
      </div>
     </div>
     <div class="comment_list">
       <div class="comment_list_layer">
          <div class="comment">
            <div class="content">Hello Wolrd!</div>
            <div class="content_time">11:11</div>
            <div class="content_layer">Writer : LuisK</div>
            <div class="content_layer-2"><a href="{$url}/channel/{$oCommentWriter->member_srl}">Channel</a>
            </div>
         </div>
       </div>
       <div class="content_user_comment">
          <div class="content_comment">
            {$oDocument_srl->getContent()}
         </div>
       </div>
       
       
         
  </block>
