<html>
	<head>
		<title> {$oTitle->getTitle(mid)}</title>
		<!--@meta-->
		<!--@end-->
		
		{$oGetLayoutHeaderMETA}
		
	</head>
	
	<body>
	<div class="main_content">
		<div class="main_header">
			<div class="main_head_wrap">
				<div class="main_head_content">
					<div class="main_head_menu">
						<li>HeadMenu1</li>
						<li>HeadMenu1</li>
						<li>HeadMenu1</li>
						<li>HeadMenu1</li>
					</div>
				<div class="main_logo_img">
					<a href="/"><img src="{$layout_logo}"></a>
				</div>
				<div class="main_menu_list">
					<li>MenuList</li>
					<li>MenuList</li>
					<li>MenuList</li>
					<li>MenuList</li>
					<li>MenuList</li>
				</div>
				<div class="my_page">
					<div class="my_page_modal">
						<!--@(logged_info=NULL)-->
						<p>It seems not logged.. plz Login!</p>
						<!--@end-->
					</div>
				</div>
			</div>
					
		
		
		
	
